.*.swp
*~
*.pyc
.ipynb_checkpoints/
*/.ipynb_checkpoints/
octave-workspace
*/octave-workspace
*.log
*.html
*.pdf
*.so
\#*\#
mocaml_history.ml
private
__pycache__/
*.annot

# New in Jupyter Lab (27/02/2021)
.virtual_documents
